@charset "UTF-8";
/*Colores*/
/*Tamaños*/
/*Margin, padding*/
/*Fuentes*/
/*Otros formatos*/
/*Botones*/
/*Extend*/
.nosotrxs h1, .nosotrxs h2, .tarjeta h4, .testimonios h3, .fondo-acordeon h2, .servicios h1, .index h3, .index h2, .index h1, .contacto h1, .compra h1, .contenidoGratuito h2, .catalogo h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  word-spacing: 0.2rem;
}

.parrafoSobreAudiolibros, .parrafoSobreHistoria-destacado, .parrafoSobreHistoria, .fondo-acordeon, .parrafosLibros-lila, .parrafosLibros-naranja, .mensaje-novedades, .formulario button, .formulario legend, .formulario input[text], .formulario input[email], .formulario input[radio], .formulario label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.mensaje-modal, .intro-catalogo select, .intro-catalogo input[type=search] {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0.2rem solid orange;
  border-radius: 0.1rem;
}

.tarjeta p, .parrafoServicios, .lista-generos a, .masGeneros, .contacto p, .compra p, .compra h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}

.boton-libros-naranja, .boton-libros-lila {
  font-family: "Josefin Sans", sans-serif;
  width: 30%;
  margin: 2rem;
  font-weight: bold;
}

/*Mixin*/
.intro-catalogo input[type=search] {
  margin-top: 6rem;
  width: 20%;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .intro-catalogo input[type=search] {
    width: 40%;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .intro-catalogo input[type=search] {
    margin: 6rem 1rem 0rem 0rem;
  }
}
.intro-catalogo select {
  margin: 7rem 0rem 5rem 0rem;
  width: 20%;
  display: block;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .intro-catalogo select {
    width: 40%;
  }
}

.catalogo h1 {
  color: #9A53E6;
  font-size: 2.5rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 3s;
}
.catalogo img {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  transition: all 3s ease-in-out;
  column-gap: -webkit-column-gap(2rem);
}
.catalogo img:hover {
  transform: scale(0.8);
  filter: drop-shadow(0 0 10px rgba(255, 165, 0, 0.7));
}

.contenidoGratuito h2 {
  color: #9A53E6;
  font-size: 1rem;
  width: 50%;
  height: -60vh;
  margin: 4rem auto;
  line-height: 2rem;
  padding: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .contenidoGratuito h2 {
    padding: 2rem;
    width: 80%;
  }
}

.img-gratis {
  transition: all 2s;
  margin: 2rem 0rem 4rem 1rem;
}
.img-gratis:hover {
  transform: rotateZ(360deg);
}

.compra h1 {
  color: #9A53E6;
  font-size: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 2s;
}
.compra h2 {
  font-size: 1.2rem;
}
.compra p {
  font-size: 2rem -1;
}

.tarjeta-compra {
  background-color: orange;
  border: 0.4rem solid orange;
  border-radius: 0.5rem;
  transition: all 2s ease;
}
.tarjeta-compra:hover {
  transform: translateX(50px);
}

.boton-compra {
  background-color: #9A53E6;
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  margin: 6rem auto;
  color: black;
  transition: all 3s ease;
  width: 50%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
.boton-compra:hover {
  transform: scale(1.5);
}

.contacto h1 {
  color: orange;
  font-size: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 2s;
}
.contacto p {
  color: #9A53E6;
  font-weight: bold;
  font-size: 1.3rem;
}
@media screen and (min-width: 300px) and (max-width: 700px) {
  .contacto p {
    margin: 2rem auto;
  }
}

.formulario {
  background-color: orange;
  border: 0.3rem solid #9A53E6;
  border-radius: 0.5rem;
  margin: 13rem 0rem;
  padding: 2rem;
}
.formulario label {
  font-weight: bold;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .formulario input[text], .formulario input[email], .formulario input[radio] {
    width: 100%;
  }
}
.formulario legend {
  font-weight: bold;
}
.formulario button {
  font-weight: bold;
  background-color: #9A53E6;
  border-radius: 0.4rem;
  transition: all 3s;
  text-align: center;
  margin-right: 1rem;
}
.formulario button:hover {
  transform: scale(2);
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .formulario button {
    width: 40%;
  }
}

.mail {
  margin: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 424px) {
  .mail {
    margin: 0;
  }
}

.mensaje-novedades {
  font-weight: bold;
  margin-bottom: 2rem;
}

.img-contacto {
  height: -webkit-min-logical-height(auto);
  width: -webkit-min-logical-width(auto);
}

/*Terror*/
.terror h1 {
  font-family: "Special Elite", cursive;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  padding: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .terror h1 {
    font-size: 2rem;
  }
}

.img-naranjas {
  background-color: orange;
  border: 0.3rem solid #9A53E6;
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 2s ease-in;
  margin-bottom: 6rem;
}
.img-naranjas:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .img-naranjas {
    width: 70%;
  }
}

.masGeneros {
  margin-top: 4rem;
  color: #9A53E6;
}

.lista-generos a {
  margin: 2rem;
  color: orange;
  text-decoration: underline;
}
.lista-generos a:hover {
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .lista-generos a {
    margin: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .lista-generos a {
    margin: margin-1;
  }
}

/*Novelas Romanticas*/
.novelas h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  padding: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .novelas h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .novelas h1 {
    line-height: 3rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .novelas h1 {
    line-height: 3rem;
  }
}

.img-lilas {
  background-color: #9A53E6;
  border: 0.3rem solid orange;
  border-radius: 0.5rem;
  padding: 2rem;
  transition: all 2s ease-in;
  margin-bottom: 6rem;
}
.img-lilas:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .img-lilas {
    width: 70%;
  }
}

/*Ciencia Ficción*/
.cienciaFiccion h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  padding: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .cienciaFiccion h1 {
    line-height: 3rem;
    width: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .cienciaFiccion h1 {
    line-height: 3rem;
  }
}

/*Cocina*/
.cocina h1 {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  padding: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .cocina h1 {
    width: 90%;
  }
}

.index {
  margin-top: 4rem;
}
.index h1 {
  color: #9A53E6;
  font-size: 6rem;
  margin: 7rem 0px 0.5rem 2rem;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 6s;
}
@media screen and (max-width: 400px) {
  .index h1 {
    font-size: 2rem;
    width: 40%;
    margin: 0rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .index h1 {
    font-size: 2.5rem;
    width: 50%;
    margin: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .index h1 {
    font-size: 2.5rem;
    margin: 2rem;
    text-align: center;
  }
}
.index h2 {
  color: black;
  background-color: orange;
  font-size: 2rem;
  line-height: 0.5rem;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 400px) {
  .index h2 {
    font-size: 2rem;
    width: 90%;
    margin: 1rem;
    line-height: 3rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .index h2 {
    font-size: 2rem -1;
    margin: 2rem;
    line-height: 2rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .index h2 {
    font-size: 2rem;
    margin: 2rem;
    line-height: 2rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .index h2 {
    line-height: 2rem;
  }
}
.index h3 {
  color: white;
  font-size: 1.5rem;
  line-height: 0.5rem;
  padding: 0.9rem;
  margin: 2rem;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .index h3 {
    font-size: 1rem;
    width: 80%;
    margin: 2rem;
    line-height: 2rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .index h3 {
    font-size: 1.5rem;
    margin: 2rem;
    line-height: 3rem;
    padding: 2rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
  .index h3 {
    line-height: 2rem;
  }
}

.index a {
  background-color: #9A53E6;
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4rem;
  text-align: center;
  text-decoration: none;
  transition: all 2s ease-in;
}
.index a:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 400px) {
  .index a {
    font-size: 1rem;
  }
}

.parrafoSobreNosotrxs {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 2rem;
  text-align: center;
  margin-top: 8rem;
  padding: 2rem;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .parrafoSobreNosotrxs {
    margin-top: 5rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .parrafoSobreNosotrxs {
    margin-top: 2rem;
  }
}

/*Libros*/
.parrafosLibros-naranja {
  color: orange;
  margin-top: 8rem;
}

.parrafosLibros-lila {
  color: #9A53E6;
  margin-top: 8rem;
}

.boton-libros-lila {
  background-color: #9A53E6;
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  color: black;
  transition: all 2s ease;
}
.boton-libros-lila:hover {
  transform: scale(0.8);
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .boton-libros-lila {
    font-size: 0.7rem;
  }
}

.boton-libros-naranja {
  background-color: orange;
  border: 0.3rem solid black;
  border-radius: 0.5rem;
  color: black;
  transition: all 2s ease;
}
.boton-libros-naranja:hover {
  transform: scale(0.8);
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .boton-libros-naranja {
    font-size: 0.7rem;
  }
}

.img-borde-naranja {
  margin: 5rem 0rem;
  border: 0.5rem solid orange;
  border-radius: 0.5rem;
}

.img-borde-lila {
  margin: 5rem 0rem;
  border: 0.5rem solid #9A53E6;
  border-radius: 0.5rem;
}

/*Cocina*/
.cocina-libros h1 {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 4rem;
  text-decoration: underline;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .cocina-libros h1 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}
.cocina-libros h2 {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .cocina-libros h2 {
    margin: 0 0 2rem 0;
  }
}

/*Ciencia Ficción*/
.ficcion-libros h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  text-decoration: underline;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .ficcion-libros h1 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}
.ficcion-libros h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 1rem;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .ficcion-libros h2 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}

/*Novelas*/
.novelas-libros h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  text-decoration: underline;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .novelas-libros h1 {
    line-height: 4rem;
    margin: 0 0 2rem 0;
  }
}
.novelas-libros h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .novelas-libros h2 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}

/*Terror*/
.terror-libros h1 {
  font-family: "Special Elite", cursive;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  text-decoration: underline;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .terror-libros h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .terror-libros h1 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}
.terror-libros h2 {
  font-family: "Special Elite", cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  color: orange;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .terror-libros h2 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}

/*Gratis*/
.gratis-libros h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  text-decoration: underline;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 900px) {
  .gratis-libros h1 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}
.gratis-libros h2 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  word-spacing: 0.2rem;
  margin: 2rem;
  color: #9A53E6;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
  .gratis-libros h2 {
    line-height: 3rem;
    margin: 0 0 2rem 0;
  }
}

.servicios h1 {
  color: orange;
  font-size: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 2s;
}

.parrafoServicios {
  color: white;
  font-size: 1.5rem;
  background-color: #9A53E6;
  width: 60%;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 9rem auto;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  .parrafoServicios {
    font-size: 1.3rem;
    width: 80%;
  }
}

.acordeon {
  margin-bottom: 10rem;
}

.fondo-acordeon {
  background-color: orange;
  font-weight: 800;
}
.fondo-acordeon h2 {
  background-color: orange !important;
}

.testimonios h3 {
  color: orange;
  margin: 3rem auto;
}

.tarjetas-testimonios {
  margin-bottom: 8rem;
  border-radius: 0.5rem;
  border: 0.4rem solid orange;
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  .tarjetas-testimonios {
    border: none;
    margin: 2rem auto;
  }
}

.tarjeta {
  background-color: #9A53E6;
}
.tarjeta img {
  margin-top: 2rem;
}

.parrafoSobreHistoria {
  margin: 2rem;
  color: #9A53E6;
  font-weight: 200;
}

.parrafoSobreHistoria-destacado {
  margin: 2rem;
  color: #9A53E6;
  font-weight: bold;
}

.parrafoSobreAudiolibros {
  margin: 1rem 1rem 1rem 1rem;
  color: #9A53E6;
  font-weight: 200;
}

.ultimoParrafo {
  margin: 0rem 1rem 6rem 1rem;
  font-style: italic;
  font-weight: 800;
}

.nosotrxs h1, .nosotrxs h2 {
  color: orange;
  font-size: 2rem;
  width: 50%;
  height: -60vh;
  margin: 8rem auto;
  line-height: 2rem;
  padding: 2rem;
  animation-duration: 3s;
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  .nosotrxs h1, .nosotrxs h2 {
    padding: 4rem;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  .nosotrxs h1, .nosotrxs h2 {
    padding: 4rem;
    width: 70%;
  }
}

.img-nosotrxs {
  margin: 6rem auto;
  border-radius: 0.5rem;
  border: 0.4rem solid #9A53E6;
}

/*Extend*/
.catalogo h1, .contenidoGratuito h2, .compra h1, .contacto h1, .index h1, .index h2, .index h3, .servicios h1, .fondo-acordeon h2, .testimonios h3, .tarjeta h4, .nosotrxs h1, .nosotrxs h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  word-spacing: 0.2rem;
}

.formulario label, .formulario input[text], .formulario input[email], .formulario input[radio], .formulario legend, .formulario button, .mensaje-novedades, .parrafosLibros-naranja, .parrafosLibros-lila, .fondo-acordeon, .parrafoSobreHistoria, .parrafoSobreHistoria-destacado, .parrafoSobreAudiolibros {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  word-spacing: 0.2rem;
}

.intro-catalogo input[type=search], .intro-catalogo select, .mensaje-modal {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 0.2rem solid orange;
  border-radius: 0.1rem;
}

.compra h2, .compra p, .contacto p, .masGeneros, .lista-generos a, .parrafoServicios, .tarjeta p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}

.boton-libros-lila, .boton-libros-naranja {
  font-family: "Josefin Sans", sans-serif;
  width: 30%;
  margin: 2rem;
  font-weight: bold;
}

/*Mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Elementos principales*/
body {
  background: black;
  min-height: 100%;
  overflow-x: hidden;
}

.menuPrincipal {
  background-color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}
.menuPrincipal ul {
  background-color: black;
}
.menuPrincipal a {
  color: #9A53E6 !important;
}
.menuPrincipal a:hover {
  color: orange !important;
}

.breadcrumb-lista {
  margin-left: 1rem;
}
.breadcrumb-lista li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}
.breadcrumb-lista li a {
  color: orange;
}

.boton-contacto {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

footer {
  background-color: orange;
  padding: 2rem;
}
footer ul {
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  word-spacing: 0.2rem;
  list-style: none;
}
footer ul a {
  color: black;
  text-decoration: none;
}
footer ul a:hover {
  color: #9A53E6;
}
footer i {
  font-size: 3rem;
  color: #9A53E6;
}
footer i:hover {
  color: black;
}

.datosDeLaEmpresa {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: smaller;
  font-weight: bold;
  font-style: italic;
  line-height: 2rem;
  word-spacing: 0.1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.link-logo {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
