
$formato-tipografia: (
    font-family: $font-josefin,
    font-size: $font-size,
    font-weight: 700,
    letter-spacing: $space,
    line-height: $altura + 1,
    text-align: center,
    word-spacing: $space + 0.1,
    padding: $padding,
    width: $width - 50,
    height: $height - 70,
    margin: 8rem auto,
);

$terror: (
    font-family: $font-elite,
    font-size: $font-size + 1,
);

$novelas: (
    font-family: $font-vibes,
    font-size: $font-size + 1.5,
);

$ficcion: (
    font-family: $font-orbitron,
    font-size: $font-size + 1,
);

$cocina: (
    font-family: $font-courgette,
    font-size: $font-size + 1,
);

$gratis: (
    font-family: $font-cinzel,
    font-size: $font-size + 1,
);