/*Colores*/

$bg-body: black;
$lila: #9A53E6;
$white: white;
$black: black;
$naranja: orange;


/*Tamaños*/
$height: 10vh;
$width: 100%;
$altura: 1rem;

/*Margin, padding*/
$margin: 2rem;
$padding: 2rem;

/*Fuentes*/
$font-josefin: 'Josefin Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-elite: 'Special Elite', cursive;
$font-vibes: 'Great Vibes', cursive;
$font-orbitron: 'Orbitron', sans-serif;
$font-courgette: 'Courgette', cursive;
$font-cinzel: 'Cinzel', serif;

/*Otros formatos*/
$bold: bold;
$space: 0.1rem;
$font-size: 2rem;

/*Botones*/ 
$border: 0.3rem solid $black;
$radius: 0.5rem;