/*Colores*/

$bg-body: black;
$violeta: #4B244A;
$violeta-oscuro: #25171A;
$lila: #9A53E6;
$white: white;
$black: black;
$purpura: purple;
$rojo: rgb(180, 21, 21);
$rojo-claro: rgb(238, 8, 8);
$rosa: pink;
$rosa-oscuro: rgb(243, 152, 167);
$azul: blue;
$azul-claro: rgb(26, 175, 235);
$amarillo: yellow;
$amarillo-claro: rgb(247, 247, 140);
$gris: grey;
$gris-claro: rgb(207, 204, 204);
$naranja: orange;


/*Tamaños*/
$height: 10vh;
$width: 100%;
$altura: 1rem;

/*Margin, padding*/
$margin: 2rem;
$padding: 2rem;

/*Fuentes*/
$font-josefin: 'Josefin Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-elite: 'Special Elite', cursive;
$font-vibes: 'Great Vibes', cursive;
$font-orbitron: 'Orbitron', sans-serif;
$font-courgette: 'Courgette', cursive;
$font-cinzel: 'Cinzel', serif;

/*Otros formatos*/
$bold: bold;
$space: 0.1rem;
$font-size: 2rem;

/*Botones*/ 
$border: 0.3rem solid $black;
$radius: 0.5rem;