@import "../base/funciones";

.intro-catalogo {

    input[type=search] {
        @extend %formularios;
        margin-top: 6rem;
        width: 20%;

        @media screen and (min-width: 300px) and (max-width:800px) {
            width: 40%;
        }

        @media screen and (min-width: 300px) and (max-width:500px) {
            margin: 6rem 1rem 0rem 0rem;
        }
    }

    select {
        @extend %formularios;
        margin: 7rem 0rem 5rem 0rem;
        width: 20%;
        display: block;

        @media screen and (min-width: 300px) and (max-width:800px) {
            width: 40%;
        }
    }
}

.catalogo {

    h1 {
        @extend %titulos;
        color: $lila;
        font-size: $font-size+0.5;
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        line-height: map-get($formato-tipografia, line-height);
        padding: map-get($formato-tipografia, padding);
        animation-duration: 3s;
        }

    img {
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        transition: all 3s ease-in-out;

        &:hover {
            transform: scale(0.8);
            filter: drop-shadow(0 0 10px rgba(255, 165, 0, 0.7));
        }
    }
}

.contenidoGratuito {

    h2 {
        @extend %titulos;
        color: $lila;
        font-size: $font-size - 1;
        text-decoration: map-get($formato-tipografia, text-decoration);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: $margin*2 auto;
        line-height: map-get($formato-tipografia, line-height);
        padding: map-get($formato-tipografia, padding);

        @media screen and (min-width:300px) and (max-width:600px) {
            padding: $padding;
            width: 80%;
        }
    }
}

.img-gratis {
    transition: all 2s;
    margin: 2rem 0rem 4rem 1rem;

    &:hover {
        transform: rotateZ(360deg);
    }
}