
.pasos {
    width: $width;
    margin: 10rem auto;
  }

  .compra {

    img {
        @include imagenes ($width+1, $height*4+1);
        border: 0.4rem solid $lila;
        border-radius: $radius;

        &:hover {
            transform: rotateY(180deg);
        }

        @media screen and (min-width:450px) and (max-width:768px) {
          height: $height*6;
        }

        @media screen and (min-width:769px) and (max-width:994px) {
          width: $width+10;
          height: $height*3;
        }
    }

    a {
      @include botones ($violeta, $border, $radius);
      margin: $margin auto;
      color: $black;
      transition: all 2s ease;
      width: $width/2;
      font-family: map-get($formato-tipografia, font-family);
      font-weight: map-get($formato-tipografia, font-weight);

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  .parrafoPaso1 {
      @extend %parrafos-compra;
        color: $purpura;
        padding: 1rem;
  }
  
  .parrafoPaso2 {
      @extend %parrafos-compra;
        color: $violeta;
        padding: 1rem;
  }
  
  .parrafoPaso3 {
      @extend %parrafos-compra;
    color: $violeta-oscuro;
    padding: 1rem;
  }