
.contacto {

    h1 {
        @extend %titulos;
        color: $naranja;
        font-size: map-get($formato-tipografia, font-size);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        line-height: map-get($formato-tipografia, line-height);
        padding: map-get($formato-tipografia, padding);
        animation-duration: 2s;
    }
    
    p {
        @extend %servicios;
        color: $lila;
        font-weight: $bold;
        font-size: $font-size - 0.7;

        @media screen and (min-width:300px) and (max-width:700px) {
            margin: 2rem auto;
        }
    }
}

.formulario {
    
    @include botones ($naranja, 0.3rem solid $lila, $radius);
    margin: 13rem 0rem;
    padding: $padding;

    label {
        @extend %parrafos;
        font-weight: $bold;
    }

    input[text], input[email], input[radio] {
        @extend %parrafos;
    
        @media screen and (min-width:300px) and (max-width:800px) {
            width: 100%;
        }
    }
    
    legend {
        @extend %parrafos;
        font-weight: $bold;
    }
    
    button {
        @extend %parrafos;
        font-weight: $bold;
        background-color: $lila;
        border-radius: 0.4rem;
        transition: all 3s;
        text-align: center;
        margin-right: 1rem;
    
        &:hover {
            transform: scale(2);
        }
    
        @media screen and (min-width:300px) and (max-width:1000px) {
            width: 40%;
        }
    }
}

.mail {
    margin: $margin;

    @media screen and (min-width:300px) and (max-width:424px) {
        margin: 0;
    }
}

.mensaje-novedades {
    @extend %parrafos;
    font-weight: $bold;
    margin-bottom: 2rem;
}

.mensaje-modal {
    @extend %formularios;
}

.img-contacto {
    height: -webkit-min-logical-height(auto);
    width: -webkit-min-logical-width(auto);
}
