/*Terror*/

.terror {

    h1 {
        font-family: map-get($terror, font-family);
        font-size: map-get($terror, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        padding: map-get($formato-tipografia, padding);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        color: $naranja;

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: $font-size;
        }
    }
}

.img-naranjas {
    background-color: $naranja;
    border: 0.3rem solid $lila;
    border-radius: 0.5rem;
    padding: $padding;
    transition: all 2s ease-in;
    margin-bottom: $margin*3;

    &:hover {
        transform: scale(1.2);
    }

    @media screen and (min-width:601px) and (max-width:800px) {
        width: 70%;
    }
}

.masGeneros {
    @extend %servicios;
    margin-top: $margin*2;
    color: $lila;
}

.lista-generos {
    
    a {
        @extend %servicios;
        margin: $margin;
        color: $naranja;
        text-decoration: underline;

        &:hover {
            color: $lila;
        }

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: $margin - 1;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: margin - 1;
        }
    }
}

/*Novelas Romanticas*/

.novelas {

    h1 {
        font-family: map-get($novelas, font-family);
        font-size: map-get($novelas, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        padding: map-get($formato-tipografia, padding);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        color: $lila;

        @media screen and (min-width:300px) and (max-width:500px) {
            font-size: $font-size;
        }

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura+2;
        }
    
        @media screen and (min-width:600px) and (max-width:1000px) {
            line-height: $altura+2;
        }
    }
   
}

.img-lilas {
    background-color: $lila;
    border: 0.3rem solid $naranja;
    border-radius: 0.5rem;
    padding: $padding;
    transition: all 2s ease-in;
    margin-bottom: $margin*3;

    &:hover {
        transform: scale(1.2);
    }

    @media screen and (min-width:601px) and (max-width:800px) {
        width: 70%;
    }
}    

/*Ciencia Ficción*/

.cienciaFiccion {

    h1 {
        font-family: map-get($ficcion, font-family);
        font-size: map-get($ficcion, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        padding: map-get($formato-tipografia, padding);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        color: $naranja;

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura+2;
            width: 90%;
        }
    
        @media screen and (min-width:600px) and (max-width:1100px) {
            line-height: $altura+2;
        }
    }
}

/*Cocina*/

.cocina {

    h1 {
        font-family: map-get($cocina, font-family);
        font-size: map-get($cocina, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        padding: map-get($formato-tipografia, padding);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        color: $lila;

        @media screen and (min-width:300px) and (max-width:600px) {
            width: 90%;
        }
    }
}