/*Libros*/

/*Cocina*/

.cocina-libros {

    iframe {
        @include imagenes ($width, $height*5);
        margin: $margin*2;
        

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 4rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 4rem 0;
        }
    }

    h1 {
        font-family: map-get($cocina, font-family);
        font-size: map-get($cocina, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        margin: $margin;
        text-decoration: map-get($formato-tipografia, text-decoration);

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }

    h2 {
        font-family: map-get($cocina, font-family);
        font-size: $font-size;
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        text-decoration: map-get($formato-tipografia, text-decoration);
        margin: $margin;

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 2rem 0;
        }
    }
}

.cocina-libros {

    img { 
        @include imagenes ($width/2, $height*10);
        @include borde-imagenes ($amarillo, $padding, 0.4rem solid $amarillo);
        margin: $margin*3 $margin*2 $margin $margin;
        border-radius: $radius;

        
        @media screen and (min-width:300px) and (max-width:450px) {
            width: $width;
            height: $height*7;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:450px) and (max-width:600px) {
            width: 80%;
            height: $height*8;
            margin: $margin auto;
        }
    
        @media screen and (min-width:601px) and (max-width:700px) {
            width: $width;
            height: $height*10;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:701px) and (max-width:900px) {
            width: 80%;
            height: $height*10;
            margin: $margin*2 auto;
        }

        @media screen and (min-width:901px) and (max-width:1000px) {
            height: $height*7;
            margin-top: $margin*4;
        }
    }

    a {
        @extend %botones;
        @include botones ($amarillo, $border, $radius);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: 0.7rem;
        }
    }
}

.parrafosLibros {
    @extend %parrafos;
    margin-top: $margin*4;

    @media screen and (min-width:300px) and (max-width:600px) {
        width: $width;
        height: $height*6;
        margin: 0 0 2rem 0;
    }

    @media screen and (min-width:600px) and (max-width:900px) {
        width: $width;
        height: $height*6;
        margin: 0 0 2rem 0;
    }
}

/*Ciencia Ficción*/

.ficcion-libros {

    iframe {
        @include imagenes ($width, $height*5);
        margin: $margin*2;

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 2rem 0;
        }
    }

    h1 {
        font-family: map-get($ficcion, font-family);
        font-size: map-get($ficcion, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        margin: $margin;
        text-decoration: map-get($formato-tipografia, text-decoration);

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }

    h2 {
        font-family: map-get($ficcion, font-family);
        font-size: $font-size;
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        text-decoration: map-get($formato-tipografia, text-decoration);
        margin: $margin;

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }
}

.ficcion-libros {

    img { 
        @include imagenes (40%, $height*9);
        @include borde-imagenes ($azul-claro, $padding, 0.4rem solid $azul-claro);
        margin: $margin*3 $margin*2 $margin $margin*3;
        border-radius: $radius;

        
        @media screen and (min-width:300px) and (max-width:450px) {
            width: $width;
            height: $height*7;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:450px) and (max-width:600px) {
            width: 80%;
            height: $height*8;
            margin: $margin auto;
        }
    
        @media screen and (min-width:601px) and (max-width:700px) {
            width: $width;
            height: $height*10;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:701px) and (max-width:900px) {
            width: 80%;
            height: $height*10;
            margin: $margin*2 auto;
        }

        @media screen and (min-width:901px) and (max-width:1000px) {
            height: $height*7;
            margin-top: $margin*4;
        }
    }

    a {
        @extend %botones;
        @include botones ($azul-claro, $border, $radius);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: 0.7rem;
        }
    }
}

/*Novelas*/

.novelas-libros {

    iframe {
        @include imagenes ($width, $height*5);
        margin: $margin*2;

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 2rem 0;
        }
    }

    h1 {
        font-family: map-get($novelas, font-family);
        font-size: map-get($novelas, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        margin: $margin;
        text-decoration: map-get($formato-tipografia, text-decoration);

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*4;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*4;
            margin: 0 0 2rem 0;
        }
    }

    h2 {
        font-family: map-get($novelas, font-family);
        font-size: $font-size;
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        text-decoration: map-get($formato-tipografia, text-decoration);
        margin: $margin;

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }
}

.novelas-libros {

    a {
        @extend %botones;
        @include botones ($rosa-oscuro, $border, $radius);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: 0.7rem;
        }
    }
}

.gif {
    @include imagenes ($width, $height*6);
    margin: $margin*2;

    @media screen and (min-width:300px) and (max-width:600px) {
        height: $height*3;
        margin: 0 0 2rem 0;
    }

    @media screen and (min-width:600px) and (max-width:800px) {
        height: $height*3;
        margin: 0 0 2rem 0;
    }
}

.imgNovelas { 
    @include imagenes (40%, $height*10);
    @include borde-imagenes ($rosa-oscuro, $padding, 0.4rem solid $rosa-oscuro);
    margin: $margin*3 $margin*2 $margin $margin*3;
    border-radius: $radius;

    
    @media screen and (min-width:300px) and (max-width:450px) {
        width: $width;
        height: $height*7;
        margin: 0 0 2rem 0;
    }

    @media screen and (min-width:450px) and (max-width:600px) {
        width: 80%;
        height: $height*8;
        margin: $margin auto;
    }

    @media screen and (min-width:601px) and (max-width:700px) {
        width: $width;
        height: $height*10;
        margin: 0 0 2rem 0;
    }

    @media screen and (min-width:701px) and (max-width:900px) {
        width: 80%;
        height: $height*10;
        margin: $margin*2 auto;
    }

    @media screen and (min-width:901px) and (max-width:1000px) {
        height: $height*7;
        margin-top: $margin*4;
    }
}

/*Terror*/

.terror-libros {

    iframe {
        @include imagenes ($width, $height*5);
        margin: $margin*2;

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 2rem 0;
        }
    }

    h1 {
        font-family: map-get($terror, font-family);
        font-size: map-get($terror, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        margin: $margin;
        text-decoration: map-get($formato-tipografia, text-decoration);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: $font-size;
        }

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }

    h2 {
        font-family: map-get($terror, font-family);
        font-size: $font-size;
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        text-decoration: map-get($formato-tipografia, text-decoration);
        margin: $margin;

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }
}

.terror-libros {

    img { 
        @include imagenes (40%, $height*10);
        @include borde-imagenes ($rojo-claro, $padding, 0.4rem solid $rojo-claro);
        margin: $margin*3 $margin*2 $margin $margin*3;
        border-radius: $radius;

        @media screen and (min-width:300px) and (max-width:450px) {
            width: $width;
            height: $height*7;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:450px) and (max-width:600px) {
            width: 80%;
            height: $height*8;
            margin: $margin auto;
        }
    
        @media screen and (min-width:601px) and (max-width:700px) {
            width: $width;
            height: $height*10;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:701px) and (max-width:900px) {
            width: 80%;
            height: $height*10;
            margin: $margin*2 auto;
        }

        @media screen and (min-width:901px) and (max-width:1000px) {
            height: $height*7;
            margin-top: $margin*4;
        }
    }

    a {
        @extend %botones;
        @include botones ($rojo-claro, $border, $radius);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: 0.7rem;
        }
    }
}

/*Gratis*/

.gratis-body {
    background: map-get($gratis, background-color);
    min-height: 100%;
}

.gratis-libros {

    iframe {
        @include imagenes ($width, $height*5);
        margin: $margin*2;

        @media screen and (min-width:300px) and (max-width:600px) {
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            margin: 0 0 2rem 0;
        }
    }

    h1 {
        font-family: map-get($gratis, font-family);
        font-size: map-get($gratis, font-size);
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: $altura+2;
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        margin: $margin;
        text-decoration: map-get($formato-tipografia, text-decoration);

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }

    h2 {
        font-family: map-get($gratis, font-family);
        font-size: $font-size;
        font-weight: map-get($formato-tipografia, font-weight);
        letter-spacing: map-get($formato-tipografia, letter-spacing);
        line-height: map-get($formato-tipografia, line-height);
        text-align: map-get($formato-tipografia, text-align);
        word-spacing: map-get($formato-tipografia, word-spacing);
        text-decoration: map-get($formato-tipografia, text-decoration);
        margin: $margin;

        @media screen and (min-width:300px) and (max-width:600px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    
        @media screen and (min-width:600px) and (max-width:800px) {
            line-height: $altura*3;
            margin: 0 0 2rem 0;
        }
    }
}

.gratis-libros {

    img { 
        @include imagenes (40%, $height*9);
        @include borde-imagenes ($gris, $padding, 0.4rem solid $gris);
        margin: $margin*3 $margin*2 $margin $margin*3;
        border-radius: $radius;

        
        @media screen and (min-width:300px) and (max-width:450px) {
            width: $width;
            height: $height*7;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:450px) and (max-width:600px) {
            width: 80%;
            height: $height*8;
            margin: $margin auto;
        }
    
        @media screen and (min-width:601px) and (max-width:700px) {
            width: $width;
            height: $height*10;
            margin: 0 0 2rem 0;
        }

        @media screen and (min-width:701px) and (max-width:900px) {
            width: 80%;
            height: $height*10;
            margin: $margin*2 auto;
        }

        @media screen and (min-width:901px) and (max-width:1000px) {
            height: $height*7;
            margin-top: $margin*4;
        }
    }

    a {
        @extend %botones;
        @include botones ($gris, $border, $radius);

        @media screen and (min-width:300px) and (max-width:400px) {
            font-size: 0.7rem;
        }
    }
}



