.servicios {

    h1 {
        @extend %titulos;
        color: $naranja;
        font-size: map-get($formato-tipografia, font-size);
        width: map-get($formato-tipografia, width);
        height: map-get($formato-tipografia, height);
        margin: map-get($formato-tipografia, margin);
        line-height: map-get($formato-tipografia, line-height);
        padding: map-get($formato-tipografia, padding);
        animation-duration: 2s;
    }
}

.parrafoServicios {
    @extend %servicios;
    color: $white;
    font-size: $font-size - 0.5;
    background-color: $lila;
    width: $width - 40;
    text-align: center;
    padding: $padding;
    border-radius: $radius;
    margin: 9rem auto;

    @media screen and (min-width:300px) and (max-width:768px) {
        font-size: $font-size - 0.7;
        width: 80%;
    }
}

.acordeon {
    margin-bottom: 10rem;
}

.fondo-acordeon {
    background-color: $naranja;
    @extend %parrafos;
    font-weight: 800;

    h2 {
        @extend %titulos;
        background-color: $naranja !important;
    }
}

.testimonios {
    
    h3 {
        @extend %titulos;
        color: $naranja;
        margin: 3rem auto;
    }
}

.tarjetas-testimonios {
    margin-bottom: 8rem;
    border-radius: $radius;
    border: 0.4rem solid $naranja;

    @media screen and (min-width:300px) and (max-width:767px) {
        border: none;
        margin: $margin auto;
    }
}

.tarjeta {
    background-color: $lila;

    h4 {
        @extend %titulos;
    }

    p {
        @extend %servicios;
    }

    img {
        margin-top: $margin;
    }
}